.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    position: relative;
    background-image: url("../../../assets/images/auth/auth-background.png");
}

.detailsInputContainer{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 15em;
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
}
.cardTitle{
    font-size: 24px;
    margin-bottom: 20px;
}

.textPrimary{
    font-size: large;
}

.formCard{
    width: 40%;
    max-width: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10%;
    /* margin-right: 5%;
    margin-top: 16%; */
    padding: 40px 20px 60px 20px;
}

.formInput {
    width: 80%;
    font-size: large;
    align-self: center;
    /* border: 1px solid #ccc; */
    background-color: rgb(248, 248, 248);
}
.nameInputs{
    display: flex;
    flex-direction: row;
    width: 88%;
    align-self: center;
    justify-content: space-between;
}

.firstNameInput{
    margin-right: 10px;
   
}
.lastNameInput{
    margin-left: 10px;
}
.button{
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border: none;
}


.spinner{
    align-self: center;
}

.errorMessage{
    margin : 10px 0 0 0;
    font-size: 15px;
    color: rgb(205, 47, 47);
}
.otpInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otpInput{
    font-size: x-large;

}

.datePickerContainer{
    width: 88%;
    align-self: center;
    display: flex;
    font-size: medium;
    justify-content: space-between;
}

.datePicker{
    background-color: rgb(248, 248, 248);
    font-size: large;
    margin-top: 20px;
    
}
@media only screen and (max-width: 650px) {
    .formCard{
        align-self: center;
        width: 80%;
        margin: 0 20px 0 20px;
    }
}