.contentSubContainer{
    position: relative;
    margin-top: 15%;
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

.cardSection{
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardItem{
    width: 30%;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid #EDEDED;
    border-radius: 16px;
    height: auto;
    text-overflow: ellipsis;
}

.cardImage{
    width: 80px;
    margin-top: 30px;
}

.title{
    font-size: 37px;
}
.cardTitle{
    height: 90px;
    font-size: 27px;
}
.description{
    text-overflow: ellipsis;
    font-weight: 300;
}

@media only screen and (max-width: 650px) {
    .cardSection{
        width: 100%;
        display: inline-block;
    }
    .contentSubContainer{
        padding: 0 40px 0 40px;
        width: 90%;
    }
    .cardItem{
        width: 80%;
    }
    .cardTitle{
        height: auto;
        font-size: 5vw;
    }
    .description{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 1150px) {
    .cardTitle{
        height: auto;
        font-size: 15px;
    }
    .description{
        font-weight: 300;
        font-size: 12px;
    }
}