.journeySection{
    margin-top: 10px;
}
.cardLogoContainer{
    background: rgba(255, 255, 255,0.5);
    border: 1px solid #DFDFDF;
    border-radius: 17px;
    z-index: 5;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: 45px;
}

.subTitle{
    font-size: 35px;
}

.buildingContainer {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -100px;
    width: 95%;
    align-self: center;
  }

.buildingCenteredText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%; 
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .featureSection{
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: -100px;
    width: 95%;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .featureCard{
    padding: 15px;
    text-align: center;
    margin: 10px;
  }

  .featureSubtitle{
    font-size: 12px;
  }
  .featureTitle{
    font-size: 16px;
  }
  .textContent{
    text-align: start;
  }
  @media only screen and (max-width: 650px) {
    .buildingContainer{
      height: auto;
    }
    .journeySection{
      margin-top: 160vh;
    }
    .title{
      font-size: 6vw;
    }
    .subTitle{
        font-size: 5vw;
    }
    p{
      font-size: 3vw;
    }
    .buildingCenteredText{
      font-size: 5vw;
    }
    .featureSubtitle{
      font-size: 2vw;
    }
    .featureCard{
        width: auto;
        height: auto;
    }
    .featureTitle{
        font-size: 3vw;
    }
    .featureCard{
      padding: 10px 15px 0px 15px;

      text-align: center;
      margin: 10px;
      height: auto;
    }
  }

  @media only screen and (max-width: 1000px) {
    .featureSection{
      margin-top: -10%;
      grid-template-columns: auto auto auto;
    }
    
}