.servicesContainer{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.serviceImage{
    width: 49%;
}
.containerRight{
    display: flex;
    flex-direction: column;
}

.serviceArticle{
    align-self: center;
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.serviceContent{
    padding: 15px;
    flex-grow: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.serviceDescription{
    font-weight: 300;
    text-overflow: ellipsis;
    font-size: 14px;
}

.serviceTitle{
    font-weight: 600;
}


@media only screen and (max-width: 650px) {
    .containerRight{
        margin-top: 150vh;
    }
    .serviceArticle{
        width: 100%;
        margin: 10px 20px 5px 20px;
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .serviceImage{
        width: 100%;
    }
}