.cardItem {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    
    flex-direction: column;
    border-radius: 20px;
    display: flex;
    padding : 8px 20px 10px 20px;
    margin: 0px 10px 30px 10px;
    
    font-size: 19px;
    height: auto;
    justify-content: space-evenly;
}

.cardDescription{
    height: auto;
}
.cardTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    align-self: flex-start;
}
.cardDescription{
    font-size: 14px;
}

.cardButton{
    align-self: center;
    justify-self: center;
}

.contentSubContainer {
    width: 100%;
    align-self: center;
    padding: 80px;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: row;
    justify-content: space-around;
}
.cardSection{
    display: grid;
    grid-template-columns: auto auto auto;
}


@media only screen and (max-width: 650px) {
    .contentSubContainer {
        flex-direction: column;
        padding: 0 40px 0 40px;
        margin: 0;
        width: 90%;
        justify-content: left;
        margin-top: -80px;
    }
    
    .cardItem {
        text-align: center;
        display: inline-block;
        margin-right: 20px;
    }
    .cardSection{
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 100%;
        align-self: center;
    }
    .cardDescription{
        width: 60vw;
    }
}

@media only screen and (max-width: 850px) {

}