.cardItem {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    width: 27%;
    flex-direction: column;
    border-radius: 20px;
    display: flex;
    padding : 8px 20px 10px 20px;
    border: red 1px 2px;
    margin-bottom:20px;
    max-height: 33%;
    font-size: 19px;
    height: 300px;
    justify-content: space-evenly;
}
.cardTitle{
    font-weight: 500;
    margin-bottom: 0;
    align-self: flex-start;
}

.cardButton{
    align-self: center;
    justify-self: center;
}
.textArticle {
    font-size: 35px;
    align-self: center;
    margin-left: 10px;
    height: 250px;
    width: 31%;
}
.contentSubContainer {
    width: 80%;
    align-self: center;
    padding: 80px;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: row;
    justify-content: space-around;
}


@media only screen and (max-width: 550px) {
    .contentSubContainer {
        flex-direction: column;
        padding: 0;
        padding-right: 40px;
        justify-content: center;
    }
    .textArticle {
        width: 100%;
    }
    .cardItem {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {

}