
.button{
    background-color: #114DD2;
    width: auto;
    height: 40px;
    border-radius: 12px;
    color: white;
    padding: 0 15px 0 15px;
    border-color: white;
    outline: none;
    border-style: solid;
}

.buttonSecondary{
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background: white ;
    color: #114DD2;
    border-color: #114DD2;
    border-radius: 10px;
    outline: none;
    border-style: solid;
}