.container{
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.left{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100vh;
}

.title{
    word-wrap: break-word;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
}
.coloredText {
    color: #114DD2;
}
.right{
    padding-top: 70px;
}

.image{
    height: 90vh;
}