.section1Container {
    height: 140vh;
    
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    z-index: -100;
    position: absolute;
}

.contentContainer{
    width: 100%;
    height: 100%;
    z-index: -100;
    margin-top: -20vh;
    position: absoute;
    display: flex;
    justify-content: center;
    top: 10vh;
    left: 0;
}

@media only screen and (max-width: 550px) {
    .contentContainer{
        width: auto;
    }
    .backgroundImage {
        width: 104%;
    }
}