.container{
    display: flex;
    flex-direction: row;
    padding: 80px;
    height: 70vh;
}

.left{
    display: flex;
    align-items: start;
    flex-direction: column;

}

.title{
    word-wrap: break-word;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
}
.coloredText {
    color: #114DD2;
}
.image{
    height: 60vh;
}