.contentSubContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    align-self: center;
    margin-top: 80px;
    justify-content: center;
    max-width: 1400px;
    align-items: start;

}
.tableItems{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-self: center;
}
.whyAayurTitle{
    font-size: 35px;
    font-weight: 500;
}

.rightElement,.leftElement{
    width: 50%;
    position: relative;
}

.rightElement{
    align-self: flex-end;
}

.innerNumber{
    position: absolute;
    font-size: 55px;
    margin: 0;
    padding: 0;
    top: -20px;
    left: -10px;
    font-weight: 700;
    color: rgba(17, 77, 210, .1);
}

.innerText{
    font-weight: 500;
}

@media only screen and (max-width: 650px) {
    .contentSubContainer{
        height: 100vh;
        margin: -75vh 20px 0 20px;
        width: 95%;
    }
    .rightElement,.leftElement{
        margin-top: 10px;
        width: 100%;
    }
    .innerNumber{
        font-size: 70px;
    }
}