.container{
    margin-top: 100px;
    text-align: center;
    width: 90%;
    font-size: 15px;
    align-self: center;
}

.contentSection{
    display: flex;
    border-radius: 16px;

    background-color: white;
    padding: 40px;
    flex-direction: row;
    justify-content: space-evenly;
}
ol{
    text-align: start;
}
.partnershipImg{
    margin-left: 10px;
    width: 50%;
}
.listTitle{
    font-weight: 600;
}
.benefitsText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
li:before{
    font-weight: 600;
}
.clientsContainer{
    display: flex;
    margin-top: 20px;
    width: auto;
    margin-bottom: 70px;
    justify-content: center;
    flex-direction: row;
}
.clientIconImage{
    max-width: 150px;
    margin : 0 15px 40px 15px;    
}
@media only screen and (max-width: 650px) {
    .contentSection{
        flex-direction: column-reverse;
    }
    .partnershipImg{
        width: 100%;
    }
    .clientsContainer{
        flex-direction: column;
        align-items: center;
    }
}