body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/WorkSans-Regular.ttf") format("ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #000000;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-secondary{
  color: #b3b3b3;
}

.text-blue {
  padding: 0;
  margin: 0;
  color: #114DD2;
  display: inline-block;
}

.glass-bg{
  background: rgba(255, 255, 255, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.title{
  font-size: 45px;
}

.subTitle{
  font-size: 35px;
}

.title-home{
  text-align: left;
  align-self: flex-start;
  font-size: 37px;
}

@media only screen and (max-width: 650px) {
  .title-home{
    font-size: 30px;
  }
}

.flickity-page-dots .dot.is-selected {
  background-color: #114DD2; /* Set the desired color for the selected dot */
}