body {
  margin: 0;
  font-family:  'Work Sans';
  src: url("./assets/fonts/WorkSans-Regular.ttf") format("ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-secondary{
  color: #b3b3b3;
}
