.contentContainer{
    padding : 0 80px 0 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 85%;
    align-self: center;
    margin-top: 40px;
    height: max-content;
}
.cardLogoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    display: none;
    align-self: center;
}
.logoPartners{
    width: 100px;
    margin: 10px 10px 10px 10px;
}
.textContent{
    text-align: start;

}
@media only screen and (max-width: 650px) {
    .contentContainer{
        padding: 0 20px 0 20px;
        height: max-content;
    }
    .cardLogoContainer{
        flex-direction: column;
    }
    .textContent{
        font-size: 3vw;
    }
}